
sim/Motor_Output.log
sim/Motor_Output.plt
sim/Motor_Output.fft
sim/Motor_Output.raw
sim/Motor_Output[1].fft
sim/Motor_Output[1].fft
*.fft
documents/cd00190271-stm8s-series-and-stm8af-series-8bit-microcontrollers-stmicroelectronics(1).pdf
documents/stm8s003f3.pdf
software/.idea/vcs.xml
